/*This is my css file*/

/*Styles of tags*/
html {
  background-color: lightgrey;
}


/*Styles of classes*/
.why {
  background-color: lavender;
}


/*Styles of id's*/
#no {
  background-color: black;
}
